promo-code {
    display: block;
    width: 100%;
}

.promo-code {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border-radius: var(--prome-code-radius);
    -webkit-border-radius: var(--prome-code-radius);
    overflow: hidden;
    max-width: 592px;
}

.promo-code.center {
    margin: 0 auto;
}

.promo-code > * {
    border-radius: unset;
    -webkit-border-radius: unset;
}

.promo-code__field {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    padding: 12px 16px;
    border: var(--outline-thickness) dashed rgb(var(--accent-button-color));
    overflow: hidden;
    border-right: none;
    border-top-left-radius: var(--prome-code-radius);
    border-bottom-left-radius: var(--prome-code-radius);
    width: 100%;
}

.promo-code__field span {
    white-space: nowrap;
    overflow-x: auto;
    color: rgb(var(--accent-button-color));
    -ms-overflow-style: none;
    scrollbar-width: none; 
    user-select: text !important;
}

.no-default-color .promo-code__field {
    border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
    border-right: none;
    border-color: rgb(var(--layout-text-color));
}

.no-default-color .promo-code__field span {
    color: rgb(var(--layout-text-color));
}

.promo-code__field span::-webkit-scrollbar { 
    width: 0;
    height: 0;
    display: none;
}
.promo-code__field span::-moz-scrollbar { 
    width: 0;
    height: 0;
    display: none;
    scrollbar-width: none;
}

.promo-code .copy-success, 
.promo-code .copy-label {
    display: block;
    word-break: keep-all;
}

.promo-code .copy-button {
    width: max-content;
}

.promo-code .copy-button .hide {
    height: 0;
    opacity: 0;
}

.promo-code .copy-button .show {
    height: auto;
    opacity: 1;
}

.promo-code .copy-button::before {
    content: none !important;
}

/* Styles for block in 'Media with text' section */
.media-with-text .promo-code__field {
    min-height: 44px;
    border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
    border-bottom: none;
    border-top-left-radius: var(--prome-code-radius);
    border-bottom-left-radius: var(--prome-code-radius);
    border-top-right-radius: 0;
}
.media-with-text.no-default-color .promo-code__field {
    border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
    border-right: none;
}
.ordinal-section .center .promo-code {
    margin-left: auto;
    margin-right: auto;
}
.media-with-text .copy-button {
    min-height: 44px;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .copy-button {
        min-height: 44px;
    }
    .promo-code {
        flex-direction: column;
    }
    .promo-code .copy-button,
    .promo-code .promo-code__field {
        width: 100%;
    }
    .media-with-text .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0px;
        border-top-right-radius: var(--prome-code-radius);
    }
    .media-with-text.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
}

/* Styles for full-width page without sidebars */
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_xs--spacious .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_xs--spacious .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_xs--spacious .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_xs--spacious .ordinal-section .promo-code .copy-button,
    .main_xs--spacious .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main XS and white space Compact */
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_xs--compact .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_xs--compact .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_xs--compact .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_xs--compact .ordinal-section .promo-code .copy-button,
    .main_xs--compact .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main XS with secondary and white space Spacious */
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_xs_with_secondary--spacious .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_xs_with_secondary--spacious .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_xs_with_secondary--spacious .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_xs_with_secondary--spacious .ordinal-section .promo-code > * {
        width: 100%;
    }
    .main_xs_with_secondary--spacious .ordinal-section .promo-code .copy-button,
    .main_xs_with_secondary--spacious .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main XS with secondary and white space Compact */
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_xs_with_secondary--compact .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_xs_with_secondary--compact .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_xs_with_secondary--compact .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_xs_with_secondary--compact .ordinal-section .promo-code .copy-button,
    .main_xs_with_secondary--compact .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main S and white space Spacious */
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_s--spacious .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_s--spacious .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_s--spacious .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_s--spacious .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_s--spacious .ordinal-section .promo-code .copy-button,
    .main_s--spacious .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main S and white space Compact */
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_s--compact .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_s--compact .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_s--compact .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_s--compact .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_s--compact .ordinal-section .promo-code .copy-button,
    .main_s--compact .ordinal-section .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main S with secondary and white space Spacious */
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_s_with_secondary--spacious .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_s_with_secondary--spacious .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_s_with_secondary--spacious .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_s_with_secondary--spacious .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_s_with_secondary--spacious .promo-code .copy-button,
    .main_s_with_secondary--spacious .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main S with secondary and white space Compact */
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_s_with_secondary--compact .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_s_with_secondary--compact .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_s_with_secondary--compact .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_s_with_secondary--compact .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_s_with_secondary--compact .promo-code .copy-button,
    .main_s_with_secondary--compact .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main M and white space Spacious */
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_m--spacious .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_m--spacious .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_m--spacious .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_m--spacious .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_m--spacious .promo-code .copy-button,
    .main_m--spacious .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main M and white space Compact */
/* Mobile */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_m--compact .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_m--compact .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_m--compact .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_m--compact .promo-code .copy-button,
    .main_m--compact .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main M with secondary */ 
/* Mobile */
@media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_m_with_secondary .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_m_with_secondary .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_m_with_secondary .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_m_with_secondary .promo-code .copy-button,
    .main_m_with_secondary .promo-code .promo-code__field {
        width: 100%;
    }
}

/* Sidebars: Main L */
/* Mobile */
@media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l .ordinal-section .promo-code__field {
        min-height: 44px;
        border-right: var(--outline-thickness) dashed rgb(var(--accent-button-color));
        border-bottom: none;
        border-top-left-radius: var(--prome-code-radius);
        border-top-right-radius: var(--prome-code-radius);
        border-bottom-left-radius: 0;
    }
    .main_l .ordinal-section.no-default-color .promo-code__field {
        border-right: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border: var(--outline-thickness) dashed rgb(var(--layout-text-color));
        border-bottom: none;
    }
    .main_l .ordinal-section .copy-button {
        min-height: 44px;
    }
    .main_l .ordinal-section .promo-code {
        flex-direction: column;
    }
    .main_l .promo-code .copy-button,
    .main_l .promo-code .promo-code__field {
        width: 100%;
    }
}