.video-button-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
}
.video-button-block {
    display: inline-flex;
    z-index: 7;
    position: relative;
    vertical-align: bottom;
}
.block__button--link + .video-button-block,
.media-with-text__button--link + .video-button-block,
.video-button-block.video-button-link {
    vertical-align: baseline;
}
.video-button-block .button-wrapper {
    position: absolute;
    right: 0;
    padding-right: 16px;
}
.video-button {
    display: inline;
}
.video-button.link-button {
    background-image: none!important;
    background-size: 0;
}
.video-button-block .icon-button span {
    display: inline-flex;
}
.video-button__play {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    vertical-align: middle;
}
.video-button__text {
    position: relative;
    vertical-align: middle;
}
.video-button__play svg {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 32px;
    height: 32px; 
}
.solid-button .video-button__play .svg-circle {
    fill: rgb(var(--layout-background-color));
}
.video-button__play svg .svg-play {
    fill: transparent;
}
.outlined-button .video-button__play .svg-circle, .link-button .video-button__play .svg-circle {
    fill: rgb(var(--accent-button-color));
}
.no-default-color .outlined-button .video-button__play .svg-circle,
.no-default-color  .link-button .video-button__play .svg-circle {
    fill: rgb(var(--layout-text-color));
}
.outlined-button[disabled] .video-button__play .svg-circle,
.link-button[disabled] .video-button__play .svg-circle,
.no-default-color .outlined-button[disabled] .video-button__play .svg-circle,
.no-default-color  .link-button[disabled] .video-button__play .svg-circle {
    fill: rgba(var(--layout-text-color), 0.8);
    transition: fill var(--animation-duration) var(--transition-timing-function);
}
@media (hover: hover) {
    .outlined-button:not([disabled]):hover .video-button__play .svg-circle,
    .link-button:not([disabled]):hover .video-button__play .svg-circle {
        fill: rgb(var(--hover-button-color));
    }
    .no-default-color .outlined-button:not([disabled]):hover .video-button__play .svg-circle,
    .no-default-color .link-button:not([disabled]):hover .video-button__play .svg-circle {
        fill: rgb(var(--layout-text-color));
    }
}
.popup-video {
    position: relative;
    width: 100%;
    height: 100%;
}
.popup-wrapper.open.popup--height {
    max-height: none;
}
.popup--spacious {
    --popup-gap: 96px;
}
.popup--compact {
    --popup-gap: 48px;
}
.popup--height.open {
    height: calc(100vh - var(--popup-gap));
    width: auto;
    max-width: calc(100vw - var(--popup-gap));
}
@media screen and (max-width: 920px) {
    .popup--spacious.popup--height.open {
        --popup-gap: 48px;
        transform: translate(-50%, -50%);
    }
}
/* Styles for full-width page without sidebars */
/* Mobile */
@media screen and (max-width: 768px) {
    .popup-wrapper {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main XS,S,M and white space Spacious */
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious .popup--spacious.popup--height,
    .main_s--spacious .popup--spacious.popup--height,
    .main_m--spacious .popup--spacious.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main XS and white space Compact */
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact .popup--compact.popup--height,
    .main_s--compact .popup--compact.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main XS,S with secondary and white space Spacious */
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .popup--spacious.popup--height,
    .main_s_with_secondary--spacious .popup--spacious.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main XS with secondary and white space Compact */
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .popup--compact.popup--height,
    .main_s_with_secondary--compact .popup--compact.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main M and white space Compact */
/* Mobile */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact .popup--compact.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main M with secondary */
/* Mobile */
@media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary .popup.popup--height {
        --popup-gap: 32px;
    }
}
/* Sidebars: Main L */
/* Mobile */
@media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l .popup.popup--height {
        --popup-gap: 32px;
    }
}