.heading--minimal_uppercase, .heading--avant_garde, .heading--brutalist {
    text-transform: uppercase; 
}
.heading--contrast, .heading--brutalist, .heading--avant_garde {
    letter-spacing: -0.02em;
}
.heading--minimal_uppercase, .heading--minimal_basic,
.total--minimal_heavy {
    font: var(--base-heading-xs-font);
}
.heading--avant_garde {
    font: var(--base-heading-l-font);
}
.heading--minimal_heavy {
    font: var(--base-heading-m-font);
    letter-spacing: -0.01em;
}
.heading--classic {
    font: var(--accent-heading-m-font);
    letter-spacing: -0.01em;
}
.heading--brutalist {
    font: var(--base-heading-xl-font);
}
.heading--contrast {
    font: var(--accent-heading-xl-font);
}
.heading--duet{
    font: var(--accent-body-l-font);
}
.total--minimal_uppercase, .total--avant_garde {
    font: var(--base-body-l-font);
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.total--minimal_basic {
    font: var(--base-body-l-font);
}
.total--classic, .total--duet {
    font: var(--accent-body-l-font);
}
.total--contrast {
    font: var(--accent-heading-s-font);
}
.total--brutalist {
    font: var(--base-heading-m-font);
    text-transform: uppercase;
    letter-spacing: -0.01em;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    color: rgb(var(--layout-text-color));
}
.cart-wrapper--spacious {
    gap: 128px;
}
.cart-wrapper--spacious.lines {
    border-top: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));   
    padding-top: 48px;
}
.cart-wrapper--compact.lines {
    border-top: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));   
    padding-top: 24px;
}
main > section:first-child .cart-wrapper.lines {
    padding-top: 0;
    border-top: none;
}
.cart-wrapper--compact {
    gap: 48px;
}
.title-page.center {
    text-align: center;
}
.cart-page {
    display: flex;
    flex-direction: row;
    position: relative;
}
.cart-page.cart-empty {
    flex-direction: column;
}
.cart-wrapper--spacious .cart-page {
    gap: 240px;
}
.cart-wrapper--compact .cart-page {
    gap: 48px;
}
.cart-wrapper--spacious.lines .cart-page, .cart-wrapper--compact.lines .cart-page,
.theme-content .cart-wrapper--spacious.lines .cart-page, .theme-content .cart-wrapper--compact.lines .cart-page,
.theme-content .page-width.cart-wrapper--spacious.lines .cart-page, .theme-content .page-width.cart-wrapper--compact.lines .cart-page {
    border-top: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));   
    gap: 0;
}
.cart-wrapper--spacious.lines .cart-page {
    padding-top: 64px;
}
.cart-wrapper--compact.lines .cart-page {
    padding-top: 24px;
}
.cart-page__block--price {
    flex: 0 1 480px;
}
.cart-wrapper--spacious.lines .cart-page__block--items {
    padding-right: 120px;
    border-right: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));
}
.cart-wrapper--spacious.lines .cart-page__block--price {
    padding-left: 120px;
}
.cart-wrapper--compact.lines .cart-page__block--items {
    padding-right: 24px;
    border-right: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));
}
.cart-wrapper--compact.lines .cart-page__block--price {
    padding-left: 24px;
}
.cart-page__block--items {
    flex: 1 1 calc(100% - 240px - 480px);
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-between;
}
.template-cart-empty #cart-errors,
.field.hidden {
    display: none;
}

.cart-return {
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.cart-return svg {
    fill: rgb(var(--layout-text-color));
}
.cart-page__block-container {
    position: sticky;
    top: 24px;
}
.cart__checkout .solid-button {
    width: 100%;
    min-height: 64px;
}

.cart-page__block-container .accordion-order-note, .cart-page__block-container .accordion-shipping-calculator,
.cart-page__block-container .js-contents,
.cart-page__block-container .cart__checkouts {
    margin-top: 32px;
}
.cart-page__block-container .accordion-shipping-calculator + .accordion-order-note,
.cart-page__block-container .accordion-order-note + .accordion-shipping-calculator {
    margin-top: 16px;
}
.cart-page__block-container .accordion-order-note:first-child,
.cart-page__block-container .accordion-shipping-calculator:first-child,
.cart-page__block-container .cart__checkouts:first-child,
.cart-page__block-container .js-contents:first-child {
    margin-top: 0!important;
}
.cart__checkouts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-wrapper.section-wrapper--wide .cart-page.cart-empty {
    flex-direction: column;
    gap: 32px;
}
.cart-page__empty-actions {
    max-width: 720px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.cart-page__empty-actions.center {
    margin-left: auto;
    margin-right: auto;
}
.cart-page__empty-actions .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 356px;
    flex: 1 1 calc(50% - 4px);
    min-width: max-content;
}

/* Styles for full-width page without sidebars */
/* Laptop */
@media screen and (max-width: 1440px) {
    .cart-wrapper--spacious {
        gap: 96px;
    }
    .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1200px) {
    .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1024px) {
    .cart-wrapper--spacious {
        gap: 64px;
    } 
    .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .cart-wrapper--spacious.lines .cart-page, .cart-wrapper--compact.lines .cart-page,
    .theme-content .cart-wrapper--spacious.lines .cart-page, .theme-content .cart-wrapper--compact.lines .cart-page,
    .theme-content .page-width.cart-wrapper--spacious.lines .cart-page, .theme-content .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 48px;
    }
    .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .cart-wrapper--spacious.lines .cart-page__block--items,
    .cart-wrapper--compact.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .cart-wrapper--spacious.lines .cart-page__block--price,
    .cart-wrapper--compact.lines .cart-page__block--price {
        padding-left: 0;
    }
    .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .cart-wrapper--compact .cart-return, .cart-wrapper--spacious .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .cart-wrapper--compact .cart-page__block-container, .cart-wrapper--spacious .cart-page__block-container {
        position: static;
    }
    .cart-wrapper--compact .cart-item__first-row, .cart-wrapper--spacious .cart-item__first-row {
        gap: 24px;
    }
    .cart-wrapper--compact .cart-page__block--price, .cart-wrapper--spacious .cart-page__block--price {
        flex: 1 1 auto;
    }
    .heading--avant_garde,
    .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    .heading--avant_garde,
    .heading--minimal_heavy,
    .heading--brutalist,
    .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .heading--classic,
    .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .cart-wrapper--spacious {
        gap: 48px;
    }
    .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Mobile-mini */
@media screen and (max-width: 500px) {
    .cart-wrapper--compact, .cart-wrapper--compact .cart-page,
    .cart-wrapper--compact.lines .cart-page,
    .theme-content .cart-wrapper--compact.lines .cart-page,
    .theme-content .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 24px;
    }
    .cart-wrapper--compact.lines .cart-page {
        padding-top: 16px;
    }
    .cart-page .cart-item__details-actions-wrapper {
        position: relative;
        width: 100%;
        height: 44px;
        margin-top: 12px;
    }
    .cart-page .cart-item__details-actions {
        position: absolute;
        top: 0;
        left: 0;
        flex-wrap: nowrap;
        margin-top: 0;
    }
    .quantity {
        width: 126px;
    }
}

/* Sidebars: Main XS and white space Spacious */
/* Laptop */
@media screen and (max-width: 1720px) and (min-width: 921px) {
    .main_xs--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_xs--spacious .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs--spacious .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1480px) {
    .main_xs--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_xs--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_xs--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_xs--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_xs--spacious .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs--spacious .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1304px) and (min-width: 921px) {
    .main_xs--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-page__block-container {
        position: static;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-item__first-row {
        gap: 24px;
    }
    .main_xs--spacious .cart-wrapper--spacious .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_xs--spacious .heading--avant_garde, .main_xs--spacious .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--spacious .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--spacious  .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_xs--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_xs--spacious .page-width.cart-wrapper--spacious.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious .heading--avant_garde,
    .main_xs--spacious .heading--minimal_heavy,
    .main_xs--spacious .heading--brutalist,
    .main_xs--spacious .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs--spacious .heading--classic,
    .main_xs--spacious .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_xs--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Sidebars: Main XS and white space Compact */
/* Laptop */
@media screen and (max-width: 1646px) and (min-width: 921px) {
    .main_xs--compact .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs--compact .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1400px) {
    .main_xs--compact .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs--compact .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1224px) and (min-width: 921px) {
    .main_xs--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_xs--compact .cart-wrapper--compact .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_xs--compact .cart-wrapper--compact .cart-page__block-container {
        position: static;
    }
    .main_xs--compact .cart-wrapper--compact .cart-item__first-row {
        gap: 24px;
    }
    .main_xs--compact .cart-wrapper--compact .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_xs--compact .cart-wrapper--compact.lines .cart-page__block--items {
        border-right: none;
        padding-right: 0;
    }
    .main_xs--compact .cart-wrapper--compact.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_xs--compact .heading--avant_garde, .main_xs--compact .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--compact .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_xs--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_xs--compact .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact .heading--avant_garde,
    .main_xs--compact .heading--minimal_heavy,
    .main_xs--compact .heading--brutalist,
    .main_xs--compact .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs--compact .heading--classic,
    .main_xs--compact .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
}
/* Sidebars: Main XS with secondary and white space Spacious */
/* Laptop */
@media screen and (max-width: 1816px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_xs_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs_with_secondary--spacious .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1576px) {
    .main_xs_with_secondary--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_xs_with_secondary--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_xs_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_xs_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_xs_with_secondary--spacious .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs_with_secondary--spacious .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1400px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-page__block-container {
        position: static;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-item__first-row {
        gap: 24px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_xs_with_secondary--spacious .heading--avant_garde, .main_xs_with_secondary--spacious .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_xs_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_xs_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .heading--avant_garde,
    .main_xs_with_secondary--spacious .heading--minimal_heavy,
    .main_xs_with_secondary--spacious .heading--brutalist,
    .main_xs_with_secondary--spacious .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--spacious .heading--classic,
    .main_xs_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_xs_with_secondary--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Sidebars: Main XS with secondary and white space Compact */
/* Laptop */
@media screen and (max-width: 1755px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs_with_secondary--compact .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1496px) {
    .main_xs_with_secondary--compact .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_xs_with_secondary--compact .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1320px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact .cart-page__block-container {
        position: static;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact .cart-item__first-row {
        gap: 24px;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact.lines .cart-page__block--items {
        border-right: none;
        padding-right: 0;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_xs_with_secondary--compact .heading--avant_garde, .main_xs_with_secondary--compact .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_xs_with_secondary--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_xs_with_secondary--compact .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */ 
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .heading--avant_garde,
    .main_xs_with_secondary--compact .heading--minimal_heavy,
    .main_xs_with_secondary--compact .heading--brutalist,
    .main_xs_with_secondary--compact .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--compact .heading--classic,
    .main_xs_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--compact .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_xs_with_secondary--compact .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Sidebars: Main S and white space Spacious */
/* Laptop */
@media screen and (max-width: 1772px) and (min-width: 921px) {
    .main_s--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_s--spacious .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s--spacious .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1480px) {
    .main_s--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_s--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_s--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_s--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_s--spacious .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s--spacious .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1304px) and (min-width: 921px) {
    .main_s--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-page__block-container {
        position: static;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-item__first-row {
        gap: 24px;
    }
    .main_s--spacious .cart-wrapper--spacious .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_s--spacious .heading--avant_garde, .main_s--spacious .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s--spacious .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_s--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_s--spacious .page-width.cart-wrapper--spacious.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_s--spacious .heading--avant_garde,
    .main_s--spacious .heading--minimal_heavy,
    .main_s--spacious .heading--brutalist,
    .main_s--spacious .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_s--spacious .heading--classic,
    .main_s--spacious .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_s--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_s--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Sidebars: Main S and white space Compact */
/* Laptop */
@media screen and (max-width: 1772px) and (min-width: 921px) {
    .main_s--compact .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s--compact .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1477px) {
    .main_s--compact .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s--compact .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1260px) and (min-width: 921px) {
    .main_s--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_s--compact .cart-wrapper--compact .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_s--compact .cart-wrapper--compact .cart-page__block-container {
        position: static;
    }
    .main_s--compact .cart-wrapper--compact .cart-item__first-row {
        gap: 24px;
    }
    .main_s--compact .cart-wrapper--compact .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_s--compact .cart-wrapper--compact.lines .cart-page__block--items {
        border-right: none;
        padding-right: 0;
    }
    .main_s--compact .cart-wrapper--compact.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_s--compact .heading--avant_garde, .main_s--compact .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s--compact .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_s--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_s--compact .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_s--compact .heading--avant_garde,
    .main_s--compact .heading--minimal_heavy,
    .main_s--compact .heading--brutalist,
    .main_s--compact .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_s--compact .heading--classic,
    .main_s--compact .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
}
/* Sidebars: Main S with secondary and white space Spacious */
/* Laptop */
@media screen and (max-width: 1890px) and (min-width: 921px) {
    .main_s_with_secondary--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_s_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s_with_secondary--spacious .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1595px) {
    .main_s_with_secondary--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_s_with_secondary--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_s_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_s_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_s_with_secondary--spacious .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s_with_secondary--spacious .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1400px) and (min-width: 921px) {
    .main_s_with_secondary--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-page__block-container {
        position: static;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-item__first-row {
        gap: 24px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_s_with_secondary--spacious .heading--avant_garde, .main_s_with_secondary--spacious .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_s_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page,
    .theme-content.main_s_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_s_with_secondary--spacious .heading--avant_garde,
    .main_s_with_secondary--spacious .heading--minimal_heavy,
    .main_s_with_secondary--spacious .heading--brutalist,
    .main_s_with_secondary--spacious .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_s_with_secondary--spacious .heading--classic,
    .main_s_with_secondary--spacious .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_s_with_secondary--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Sidebars: Main S with secondary and white space Compact */
/* Laptop */
@media screen and (max-width: 1890px) and (min-width: 921px) {
    .main_s_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s_with_secondary--compact .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1595px) {
    .main_s_with_secondary--compact .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_s_with_secondary--compact .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1378px) and (min-width: 921px) {
    .main_s_with_secondary--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact .cart-page__block-container {
        position: static;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact .cart-item__first-row {
        gap: 24px;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact.lines .cart-page__block--items {
        border-right: none;
        padding-right: 0;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_s_with_secondary--compact .heading--avant_garde, .main_s_with_secondary--compact .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s_with_secondary--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_s_with_secondary--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content.main_s_with_secondary--compact .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */ 
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_s_with_secondary--compact .heading--avant_garde,
    .main_s_with_secondary--compact .heading--minimal_heavy,
    .main_s_with_secondary--compact .heading--brutalist,
    .main_s_with_secondary--compact .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_s_with_secondary--compact .heading--classic,
    .main_s_with_secondary--compact .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main M */
/* Laptop */
@media screen and (max-width: 1920px) and (min-width: 921px) {
    .main_m--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_m--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_m--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_m--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_m .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_m .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1600px) {
    .main_m--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_m--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_m--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_m--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_m .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_m .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1365px) and (min-width: 921px) {
    .main_m--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_m--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_m--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_m--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_m .cart-wrapper.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_m .cart-wrapper.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_m .cart-wrapper .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_m .cart-wrapper .cart-page__block-container {
        position: static;
    }
    .main_m .cart-wrapper .cart-item__first-row {
        gap: 24px;
    }
    .main_m .cart-wrapper .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_m .heading--avant_garde, .main_m .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m .cart-wrapper.lines .cart-page,
    .theme-content.main_m .cart-wrapper.lines .cart-page,
    .theme-content.main_m .page-width.cart-wrapper.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile + Spacious */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_m--spacious .heading--avant_garde,
    .main_m--spacious .heading--minimal_heavy,
    .main_m--spacious .heading--brutalist,
    .main_m--spacious .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_m--spacious .heading--classic,
    .main_m--spacious .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_m--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_m--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Mobile + Compact */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact .heading--avant_garde,
    .main_m--compact .heading--minimal_heavy,
    .main_m--compact .heading--brutalist,
    .main_m--compact .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_m--compact .heading--classic,
    .main_m--compact .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
}
/* Sidebars: Main M with secondary */
/* Laptop */
@media screen and (max-width: 2048px) and (min-width: 921px) {
    .main_m_with_secondary--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_m_with_secondary .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_m_with_secondary .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 1728px) {
    .main_m_with_secondary--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_m_with_secondary--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_m_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_m_with_secondary--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_m_with_secondary .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_m_with_secondary .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 1493px) and (min-width: 921px) {
    .main_m_with_secondary--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_m_with_secondary--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_m_with_secondary .cart-wrapper.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_m_with_secondary .cart-wrapper.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_m_with_secondary .cart-wrapper .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_m_with_secondary .cart-wrapper .cart-page__block-container {
        position: static;
    }
    .main_m_with_secondary .cart-wrapper .cart-item__first-row {
        gap: 24px;
    }
    .main_m_with_secondary .cart-wrapper .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_m_with_secondary .heading--avant_garde, .main_m_with_secondary .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m_with_secondary .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m_with_secondary .cart-wrapper.lines .cart-page,
    .theme-content.main_m_with_secondary .cart-wrapper.lines .cart-page,
    .theme-content.main_m_with_secondary .page-width.cart-wrapper.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary .heading--avant_garde,
    .main_m_with_secondary .heading--minimal_heavy,
    .main_m_with_secondary .heading--brutalist,
    .main_m_with_secondary .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_m_with_secondary .heading--classic,
    .main_m_with_secondary .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_m_with_secondary--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}

/* Sidebars: Main L */
/* Laptop */
@media screen and (max-width: 2880px) and (min-width: 921px) {
    .main_l--spacious .cart-wrapper--spacious {
        gap: 96px;
    }
    .main_l--spacious .cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_l--spacious .cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_l--spacious .cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_l .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_l .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Max page width 1200px or 1400px */
@media screen and (min-width: 2400px) {
    .main_l--spacious .page-width.cart-wrapper--spacious {
        gap: 96px;
    }
    .main_l--spacious .page-width.cart-wrapper--spacious .cart-page {
        gap: 180px;
    }
    .main_l--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--items {
        padding-right: 90px;
    }
    .main_l--spacious .page-width.cart-wrapper--spacious.lines .cart-page__block--price {
        padding-left: 90px;
    }
    .main_l .page-width .heading--contrast {
        font: var(--accent-heading-l-font);
    }
    .main_l .page-width .heading--brutalist {
        font: var(--base-heading-l-font);
    }
}
/* Tablet */
@media screen and (max-width: 2048px) and (min-width: 921px) {
    .main_l--spacious .cart-wrapper--spacious {
        gap: 64px;
    }
    .main_l--spacious .cart-wrapper--spacious .cart-page {
        gap: 48px;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .main_l--compact .cart-wrapper--compact .cart-page {
        flex-direction: column;
        padding-bottom: 56px;
    }
    .main_l--spacious .cart-wrapper--spacious.lines .cart-page {
        padding-top: 32px;
    }
    .main_l .cart-wrapper.lines .cart-page__block--items {
        padding-right: 0;
        border-right: none;
    }
    .main_l .cart-wrapper.lines .cart-page__block--price {
        padding-left: 0;
    }
    .main_l .cart-wrapper .cart-return {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .main_l .cart-wrapper .cart-page__block-container {
        position: static;
    }
    .main_l .cart-wrapper .cart-item__first-row {
        gap: 24px;
    }
    .main_l .cart-wrapper .cart-page__block--price {
        flex: 1 1 auto;
    }
    .main_l .heading--avant_garde, .main_l .heading--brutalist  {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_l .heading--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_l .cart-wrapper.lines .cart-page,
    .theme-content.main_l .cart-wrapper.lines .cart-page,
    .theme-content.main_l .page-width.cart-wrapper.lines .cart-page  {
        gap: 48px;
    }
}
/* Mobile */
@media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l .heading--avant_garde,
    .main_l .heading--minimal_heavy,
    .main_l .heading--brutalist,
    .main_l .total--brutalist {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
    .main_l .heading--classic,
    .main_l .heading--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_l--spacious .cart-wrapper--spacious {
        gap: 48px;
    }
    .main_l--spacious .cart-wrapper--spacious.lines { 
        padding-top: 32px;
    }
}
/* Mobile-mini */
@media screen and (max-width: 1000px) and (min-width: 921px) {
    .main_l--compact .cart-wrapper--compact {
        gap: 24px;
    }
    .main_l--compact .cart-wrapper--compact .cart-page {
        gap: 24px;
    }
    .main_l--compact .cart-wrapper--compact.lines .cart-page {
        padding-top: 16px;
    }
    .main_l--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content .main_l--compact .cart-wrapper--compact.lines .cart-page,
    .theme-content .main_l--compact .page-width.cart-wrapper--compact.lines .cart-page  {
        gap: 24px;
    }
    .main_l .cart-page .cart-item__details-actions-wrapper {
        position: relative;
        width: 100%;
        height: 44px;
        margin-top: 12px;
    }
    .main_l .cart-page .cart-item__details-actions {
        position: absolute;
        top: 0;
        left: 0;
        flex-wrap: nowrap;
        margin-top: 0;
    }
    .main_l .quantity {
        width: 126px;
    }
}