.menu-container {
    position: relative;
    padding: 0 !important;
}

.menu__navigation {
    height: 100%;
    width: 100%;
    justify-content: var(--menu-vertical-alignment);
    align-items: var(--menu-horizontal-alignment);
}

.menu__navigation--stretched .menu__list--column,
.menu__navigation--stretched .menu__list--main-sidebar {
    height: 100%;
}

.menu__navigation--stretched .menu__list--main-sidebar {
    justify-content: var(--menu-vertical-alignment);
}

.menu__navigation--stretched {
    align-items: center;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: var(--menu-horizontal-alignment);
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
}

.menu__list--header {
    gap: 6px 24px;
    justify-content: var(--menu-horizontal-alignment);
}

.menu__dropdown-child,
.menu__dropdown-grandchild {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu__dropdown-child::-webkit-scrollbar,
.menu__dropdown-grandchild::-webkit-scrollbar { 
    width: 0;
    height: 0;
    display: none;
}

.menu__dropdown-child::-moz-scrollbar,
.menu__dropdown-grandchild::-moz-scrollbar { 
    width: 0;
    height: 0;
    display: none;
    scrollbar-width: none;
}

.menu__list--main-sidebar.menu__list--spacious,
.menu__list--spacious .menu__dropdown-child,
.menu__list--spacious .menu__dropdown-grandchild,
.menu__list--header .menu__dropdown-child,
.menu__list--header .menu__dropdown-grandchild {
    gap: 6px 0;
}

.bottom-menu .menu__list--header {
    justify-content: var(--bottom-menu-alignment);
}

.menu__list--main-sidebar {
    flex-direction: column;
}

.menu__list--secondary-sidebar {
    flex-direction: column;
    gap: 24px;
    flex-wrap: nowrap;
    align-items: center;
} 

.menu-container--secondary-sidebar .menu__navigation--stretched .menu__list--secondary-sidebar {
    height: 100%;
    justify-content: space-between;
}

.menu__list--secondary-sidebar .menu__item {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    height: fit-content;
    width: fit-content;
}

.menu__item {
    min-height: 32px;
}

.menu__item-title {
    overflow-x: hidden;
}

.menu__list--main-sidebar .menu__item-title--first-level {
    padding: 0 var(--left-and-right-paddings);
}

.menu__dropdown-container {
    display: none;
    position: relative;
    cursor: initial;
}

.menu__item-title--slide_out.open ~ .menu__dropdown-container {
    display: flex;
}

.menu__item-title--header.open ~ .menu__dropdown-container {
    display: flex;
    animation: openMenuDropdown var(--animation-duration) var(--transition-timing-function);
}

@keyframes openMenuDropdown {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu__item-title--collapsible ~ .menu__dropdown-container {
    max-height: 0;
    display: block;
    transition: max-height var(--animation-duration) var(--transition-timing-function);
    overflow: hidden;
}
.menu__item-title--collapsible ~ .menu__dropdown-container .menu__dropdown-child {
    padding: 8px 0  16px 0;
}
.menu__item-title--collapsible.menu__item-title.underline ~ .menu__dropdown-container .menu__dropdown-child {
    padding-top: calc(8px + 0.3em);
}

.dropdown-icon {
    will-change: opacity;
    transition: transform var(--animation-duration) var(--transition-timing-function), opacity var(--animation-duration) var(--transition-timing-function);
}

.dropdown-icon.dropdown-icon--minus,
.menu__item-title--second-level.open .dropdown-icon--plus.dropdown-icon--second-level {
    opacity: 0;
    position: absolute;
    width: 0;
    transform: rotate(-90deg);
}
.menu__item-title--second-level.open .dropdown-icon--minus.dropdown-icon--second-level,
.menu__item-title--second-level .dropdown-icon--plus.dropdown-icon--second-level {
    opacity: 1;
    position: relative;
    width: auto;
}
.menu__item-title--second-level.open .dropdown-icon--minus.dropdown-icon--second-level,
.menu__item-title--header.open .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--collapsible.open .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--slide_out.open .dropdown-icon--first-level.dropdown-icon--minus {
    transform: rotate(-180deg);
}

.menu__item-title--second-level .dropdown-icon--plus.dropdown-icon--second-level,
.menu__item-title--header .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--collapsible .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--slide_out .dropdown-icon--first-level.dropdown-icon--plus {
    transform: rotate(0deg);
}
.menu__item-title--expanded ~ .menu__dropdown-container {
    display: block;
}

.menu__list--main-sidebar.menu__list--flex-start .menu__dropdown-container,
.menu__list--flex-start .menu__dropdown-grandchild-container,
.menu__list--header .menu__dropdown-grandchild-container {
    left: 16px;
}
.menu__list--menu-drawer.menu__list--center .menu__dropdown-child,
.menu__list--menu-drawer.menu__list--center .menu__dropdown-grandchild,
.menu__list--main-sidebar.menu__list--center .menu__dropdown-grandchild {
    align-items: center;
}
.menu__list--menu-drawer.menu__list--center .menu__dropdown-child .menu__item-title,
.menu__list--menu-drawer.menu__list--center .menu__dropdown-grandchild .menu__item-title,
.menu__list--main-sidebar.menu__list--center .menu__item-title,
.menu__list--main-sidebar.menu__list--center .menu__item-title {
   margin: 0 auto;
}

.menu__item-title--expanded .menu__dropdown-child,
.menu__item-title--expanded ~ .menu__dropdown-container .menu__dropdown-grandchild {
    align-items: var(--menu-horizontal-alignment);
}

.menu__dropdown-grandchild-container .menu__dropdown-grandchild {
    padding: 8px 0 16px 0;
}

.menu__item-title--expanded ~ .menu__dropdown-container {
    padding: 16px 0;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container {
    position: fixed;
    align-items: flex-start;
    height: 100vh;
    z-index: -1;
    background-color: inherit;
    border-right: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));
    box-shadow: 12px 0px 16px -1px rgba(0, 0, 0, 0.12);
    overflow: auto;
}

.slide-out-container {
    width: 100%;
    height: 100%;
    background-color: rgb(var(--layout-background-color));
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container::after {
    content: "";
    position: absolute;
    width: var(--line-width);
    height: 100vh;
    background-color: rgba(var(--layout-text-color), var(--line-opacity));
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after {
    left: 48px;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
    left: 24px;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious {
    padding: 0 0 0 48px;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child {
    padding: 0 48px;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
    padding: 0 0 0 24px;
}

.menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
    padding: 0 24px;
}

.menu__list--center .menu__item-title--collapsible ~ .menu__dropdown-container {
    justify-content: center;
}

.menu__list--center.menu__list--main-sidebar .menu__item-title,
.menu__list--center.menu__list--menu-drawer .menu__item-title {
    justify-content: center;
    text-align: center;
}

.menu__item-title--slide_out .menu__dropdown-child {
    align-items: flex-start;
    position: relative;
    overflow: auto;
}

.menu__item-title--header .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--collapsible .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--slide_out .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--header.open .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--collapsible.open .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--slide_out.open .dropdown-icon--first-level.dropdown-icon--plus {
    opacity: 0;
    position: absolute;
    width: 0;
    transform: rotate(-90deg);
}

.menu__item-title--header.open .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--collapsible.open .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--slide_out.open .dropdown-icon--first-level.dropdown-icon--minus,
.menu__item-title--header .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--collapsible .dropdown-icon--first-level.dropdown-icon--plus,
.menu__item-title--slide_out .dropdown-icon--first-level.dropdown-icon--plus {
    opacity: 1;
    position: relative;
    width: auto;
}

.menu__item-title--slide_out ~ .menu__dropdown-container .menu__dropdown-grandchild-container {
    left: 16px;
    position: relative;
}

.menu__item a {
    color: rgb(var(--layout-text-color));
    cursor: pointer;
    max-width: 100%;
}

.menu__item-title--hover {
    cursor: pointer;
}

.menu__item a:focus {
    outline-offset: -1px;
}

.menu__list--header .menu__dropdown-container {
    position: absolute;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
    border-bottom: var(--line-width) solid rgba(var(--layout-text-color), var(--line-opacity));
    width: 240px;
    flex-direction: column;
    z-index: 10;
    background-color: rgb(var(--popup-background-color));
    color: var(--layout-text-color);
}

.menu__list--header .menu__dropdown-container:not(.mega-menu) .menu__dropdown-child-item-link, 
.menu__list--header .menu__dropdown-container:not(.mega-menu) .menu__dropdown-grandchild-link,
.menu__list--header .menu__dropdown-container:not(.mega-menu) .menu__item-title {
    min-height: auto;
}

.menu__list--spacious.menu__list--header .menu__dropdown-container {
    padding: 24px 24px 28px;
    gap: 6px;
}

.menu__list--compact.menu__list--header .menu__dropdown-container {
    padding: 16px 24px 20px;
}

.menu__item {
    position: relative;
    max-width: 100%;
}

.menu__list--dropdown .menu__item,
.menu__list--dropdown {
    position: static;
}
.menu__item-link,
.menu__item-link-title,
.menu__dropdown-grandchild,
.menu__item-title--expanded .menu__dropdown-child,
.menu__dropdown-child,
.menu__navigation {
    display: flex;
    flex-direction: column;
}

.menu__item-link {
    text-align: var(--menu-horizontal-alignment);
    align-items: center;
    width: max-content;
    justify-content: center;
    min-height: 32px;
    position: relative;
}

.menu__item-link-title {
    justify-content: center;
    position: relative;
    /* width: max-content; */
    max-width: 100%;
    display: block;
}
.menu__item-link-title.link-animation--slide:not(.underline-active) {
    overflow-y: hidden;
}

.menu__list--secondary-sidebar .menu__item-link {
    min-height: auto;
    white-space: nowrap;
}

.menu__list--secondary-sidebar .menu__item-link-title {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow: hidden;
}

.menu__list--secondary-sidebar .menu__item-link-title::-webkit-scrollbar { 
    width: 0;
    height: 0;
    display: none;
}
.menu__list--secondary-sidebar .menu__item-link-title::-moz-scrollbar { 
    width: 0;
    height: 0;
    display: none;
    scrollbar-width: none;
}

.menu__item-title {
    display: flex;
    align-items: center;
    min-height: 32px;
    gap: 4px;
    max-width: 100%;
    overflow-y: hidden;
    color: rgb(var(--layout-text-color));
}

.menu__item-title--slide_out ~ .menu__dropdown-container .menu__item-title {
    justify-content: flex-start;
}

.menu__list--secondary-sidebar .menu__item--xsmall .menu__item-title,
.menu__list--secondary-sidebar .menu__item--small .menu__item-title,
.menu__list--secondary-sidebar .menu__item--medium .menu__item-title,
.menu__list--secondary-sidebar .menu__item--caption .menu__item-title {
    height: auto;
}

.menu__item.color-accent a,
.menu__item.color-invert.color-accent a,
.menu__item.color-custom.color-accent a {
    color: rgb(var(--accent-button-color));
}

.menu__item.open .menu__item-link .icon {
    transform: rotate(180deg);
}

.dropdown-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 2.5;
    will-change: opacity;
}
.dropdown-icon--chevron {
    aspect-ratio: 1 / 1.5;
}
@media (hover: hover) {
    .dropdown-icon:hover {
        opacity: .7;
    }
}
.menu__list .dropdown-icon svg {
    fill: rgb(var(--layout-text-color));
    width: 100%;
    height: auto;
}

.menu__list .dropdown-icon--chevron svg {
    position: relative;
    height: 30%;
    flex-shrink: 0;
    width: auto;
    transform: translateY(10%);
    transition: transform var(--animation-duration) var(--transition-timing-function);
}

.menu__list .menu__item-title--slide_out .dropdown-icon--chevron svg {
   transform: rotate(-90deg);
}

.menu__item-title:not(.menu__item-title--slide_out).open .dropdown-icon--chevron svg {
    transform: translateY(-10%) rotate(-180deg);
}

.menu__item.color-accent .dropdown-icon svg,
.menu__item.color-invert.color-accent .dropdown-icon svg,
.menu__item.color-custom.color-accent .dropdown-icon svg {
    fill: rgb(var(--accent-button-color));
}

.menu__dropdown-child {
    position: relative;
}

.mega-menu > .menu__dropdown-child {
    display: none;
}

.menu__dropdown-child-item {
    max-width: 100%;
}

.menu__list--header .menu__dropdown-grandchild,
.menu__list--header .menu__dropdown-child {
    align-items: flex-start;
}

.menu__dropdown-grandchild-container {
    display: block;
    position: relative;
}

.menu__dropdown-grandchild-container:not(.mega-menu .menu__dropdown-grandchild-container) {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.menu__dropdown-child-item-link,
.menu__dropdown-grandchild-link {
    display: flex;
    align-items: center;
    min-height: 24px;
    position: relative;
}

.menu__list--main-sidebar a,
.menu__list--menu-drawer a,
.menu__list--footer a {
    word-break: break-word;
}

.menu-container--menu-drawer.menu-container--main_menu .menu__navigation,
.menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
.menu-container--1.menu-container--medium.menu-container--main_menu .menu__list,
.menu__list--main-sidebar .menu__item,
.menu-container--secondary-sidebar {
    width: 100%;
}
.menu-container--2.menu-container--medium,
.menu-container--2.menu-container--wide,
.menu-container--3.menu-container--medium {
    grid-column: span 2;
}

.menu-container--3.menu-container--wide {
    grid-column: span 3;
}

.menu__list--column {
    flex-direction: column;
    justify-content: var(--menu-vertical-alignment);
    align-items: var(--menu-horizontal-alignment);
}

.menu__list--row {
    flex-direction: row;
    justify-content: var(--menu-horizontal-alignment);
    align-items: var(--menu-vertical-alignment);
    flex-wrap: wrap;
    gap: 6px 24px;
}

.menu__item-title--slide_out ~ .menu__dropdown-container .menu__dropdown-child {
    align-items: flex-start;
    position: relative;
}

/* Fonts */
.menu__item--minimal_uppercase,
.bottom-menu .menu__item--minimal_basic {
    font: var(--base-body-s-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.menu__item--minimal_basic,
.menu__item--classic,
.menu__item--minimal_heavy .menu__dropdown-container--two_levels_down {
    font: var(--base-body-s-font);
}

.menu__item--minimal_heavy,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--one_level_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--one_level_down,
.menu-container--footer .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--one_level_down,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--one_level_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--one_level_down,
.menu-container--footer .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--one_level_down  {
    font: var(--base-body-l-font);
}

.menu__item--minimal_heavy .menu__dropdown-container--one_level_down,
.menu__item--duet {
    font: var(--base-body-m-font);
}

.menu__item--avant_garde,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--duet .menu__dropdown-container--two_levels_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--duet .menu__dropdown-container--two_levels_down,
.menu-container--footer .menu__list--main_menu .menu__item--duet .menu__dropdown-container--two_levels_down {
    font: var(--accent-body-s-font);
}

.menu__item--contrast {
    font: var(--base-label-font);
}

.menu__item--brutalist {
    font: var(--base-body-l-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.bottom-menu .menu__item--classic {
    font: var(--accent-body-m-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.bottom-menu .menu__item--avant_garde {
    font: var(--base-body-m-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.bottom-menu .menu__item--contrast,
.bottom-menu .menu__item--duet,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--classic .menu__dropdown-container--one_level_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--classic .menu__dropdown-container--one_level_down,
.menu-container--footer .menu__list--main_menu .menu__item--classic .menu__dropdown-container--one_level_down,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--one_level_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--one_level_down,
.menu-container--footer .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--one_level_down {
    font: var(--accent-body-l-font);
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--classic,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--classic,
.menu-container--footer .menu__list--main_menu .menu__item--classic,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--brutalist,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--brutalist,
.menu-container--footer .menu__list--main_menu .menu__item--brutalist {
    font: var(--accent-heading-xs-font);
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--classic .menu__dropdown-container--two_levels_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--classic .menu__dropdown-container--two_levels_down,
.menu-container--footer .menu__list--main_menu .menu__item--classic .menu__dropdown-container--two_levels_down,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--two_levels_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--two_levels_down,
.menu-container--footer .menu__list--main_menu .menu__item--brutalist .menu__dropdown-container--two_levels_down,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--duet .menu__dropdown-container--one_level_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--duet .menu__dropdown-container--one_level_down,
.menu-container--footer .menu__list--main_menu .menu__item--duet .menu__dropdown-container--one_level_down {
    font: var(--accent-body-m-font);
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--avant_garde,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--avant_garde,
.menu-container--footer .menu__list--main_menu .menu__item--avant_garde {
    font: var(--base-heading-xs-font);
    text-transform: uppercase;
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--two_levels_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--two_levels_down,
.menu-container--footer .menu__list--main_menu .menu__item--avant_garde .menu__dropdown-container--two_levels_down,
.menu-container--main-sidebar .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--two_levels_down,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--two_levels_down,
.menu-container--footer .menu__list--main_menu .menu__item--contrast .menu__dropdown-container--two_levels_down {
    font: var(--base-body-m-font);
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--contrast,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--contrast,
.menu-container--footer .menu__list--main_menu .menu__item--contrast {
    font: var(--base-heading-xs-font);
}

.menu-container--main-sidebar .menu__list--main_menu .menu__item--duet,
.menu-container--menu-drawer .menu__list--main_menu .menu__item--duet,
.menu-container--footer .menu__list--main_menu .menu__item--duet {
    font: var(--accent-body-l-font);
}


/* Tablet */
@media screen and (max-width: 1024px) {
    .mega-menu > .menu__dropdown-child {
        display: flex;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
    .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
        width: 100%;
    }
}

/* Sidebars: Main XS and Main S and white space Spacious */
    /* Tablet */
    @media screen and (max-width: 1304px) and (min-width: 921px) {
        .main_xs--spacious .mega-menu > .menu__dropdown-child,
        .main_s--spacious .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 1048px) and (min-width: 921px) {
        .main_xs--spacious .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_xs--spacious .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list,
        .main_s--spacious .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_s--spacious .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_xs--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious,
        .main_s--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious {
            padding: 0 0 0 16px;
        }
        .main_xs--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child,
        .main_s--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_xs--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after,
        .main_s--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after {
            left: 16px;
        }
    }

/* Sidebars: Main XS and white space Compact */
    /* Tablet */
    @media screen and (max-width: 1224px) and (min-width: 921px) {
        .main_xs--compact .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 968px) and (min-width: 921px) {
        .main_xs--compact .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_xs--compact .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_xs--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_xs--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_xs--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main XS with secondary and Main S with secondary and white space Spacious */
    /* Tablet */
    @media screen and (max-width: 1400px) and (min-width: 921px) {
        .main_xs_with_secondary--spacious .mega-menu > .menu__dropdown-child,
        .main_s_with_secondary--spacious .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 1144px) and (min-width: 921px) {
        .main_xs_with_secondary--spacious .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_xs_with_secondary--spacious .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list,
        .main_s_with_secondary--spacious .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_s_with_secondary--spacious .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_xs_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious,
        .main_s_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious {
            padding: 0 0 0 16px;
        }
        .main_xs_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child,
        .main_s_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_xs_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after,
        .main_s_with_secondary--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after {
            left: 16px;
        }
    }

/* Sidebars: Main XS with secondary and white space Compact */
    /* Tablet */
    @media screen and (max-width: 1320px) and (min-width: 921px) {
        .main_xs_with_secondary--compact .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }   
    /* Mobile */
    @media screen and (max-width: 1064px) and (min-width: 921px) {
        .main_xs_with_secondary--compact .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_xs_with_secondary--compact .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_xs_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_xs_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_xs_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main S and white space Compact */
    /* Tablet */
    @media screen and (max-width: 1260px) and (min-width: 921px) {
        .main_s--compact .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 968px) and (min-width: 921px) {
        .main_s--compact .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_s--compact .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_s--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_s--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_s--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main S with secondary and white space Compact */
    /* Tablet */
    @media screen and (max-width: 1378px) and (min-width: 921px) {
        .main_s_with_secondary--compact .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 1064px) and (min-width: 921px) {
        .main_s_with_secondary--compact .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_s_with_secondary--compact .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_s_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_s_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_s_with_secondary--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main M  */
    /* Tablet */
    @media screen and (max-width: 1365px) and (min-width: 921px) {
        .main_m .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile and white space Spacious */
    @media screen and (max-width: 1048px) and (min-width: 921px) {
        .main_m--spacious .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_m--spacious .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_m--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious {
            padding: 0 0 0 16px;
        }
        .main_m--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_m--spacious .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after {
            left: 16px;
        }
    }
    /* Mobile and white space Compact */
    @media screen and (max-width: 1024px) and (min-width: 921px) {
        .main_m--compact .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_m--compact .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_m--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_m--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_m--compact .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main M with secondary */
    /* Tablet */
    @media screen and (max-width: 1493px) and (min-width: 921px) {
        .main_m_with_secondary .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 1152px) and (min-width: 921px) {
        .main_m_with_secondary .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_m_with_secondary .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious,
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child,
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after,
        .main_m_with_secondary .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }

/* Sidebars: Main L */
    /* Tablet */
    @media screen and (max-width: 2048px) and (min-width: 921px) {
        .main_l .mega-menu > .menu__dropdown-child {
            display: flex;
        }
    }
    /* Mobile */
    @media screen and (max-width: 1536px) and (min-width: 921px) {
        .main_l .menu-container--1.menu-container--short.menu-container--main_menu .menu__list,
        .main_l .menu-container--1.menu-container--medium.menu-container--main_menu .menu__list {
            width: 100%;
        }
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious,
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact {
            padding: 0 0 0 16px;
        }
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious .menu__dropdown-child,
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact .menu__dropdown-child {
            padding: 0 16px;
        }
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--spacious::after,
        .main_l .menu__list--main-sidebar  .menu__item-title--slide_out ~ .menu__dropdown-container--compact::after {
            left: 16px;
        }
    }