.popup-image {
    margin-top: -44px;
}

a.popup-image {
    display: flex;
}

.popup-image img {
    display: flex;
    width: 100%;
    height: 100%;
}

.promo-popup {
    --buttons-gap: 24px;
}

.promo-popup--spacious {
    --promo-popup-gap: 24px;
}
.promo-popup--compact {
    --promo-popup-gap: 16px;
}

.popup-content > *:not(:first-child) {
    margin-top: var(--promo-popup-gap);
}
.popup-content > .spacer,
.popup-content > .line-container,
.popup-content > .line-container + *,
.popup-content > .spacer + * {
    margin-top: 0;
}

.popup-content .block__button,
.popup-content .video-button-block {
    margin-right: var(--buttons-gap);
    margin-left: 0;
}
.popup-content.center {
    text-align: center;
}
.popup-content.center .content-text,
.popup-content.center .social-media__title,
.popup-content.center .contacts,
.popup-content.center .social-media {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.popup-content.center .block__button,
.popup-content.center .video-button-block {
    margin-left: calc(var(--buttons-gap) / 2);
    margin-right: calc(var(--buttons-gap) / 2);
}
.popup-content.center .context-image {
    margin-left: auto;
    margin-right: auto;
}

.promo-popup .popup-wrapper .popup-content {
    padding: 42px 64px 64px;
}

.promo-popup .promo-code {
    max-width: none;
}

/* Newsletter form */
.subheading.error-color {
    color: rgb(var(--error-color));
}
.subheading.success-color {
    color: rgb(var(--success-color));
}
promo-popup.no-default-color .subheading.error-color,
promo-popup.no-default-color .subheading.success-color  {
    color: rgb(var(--layout-text-color));
}
.subheading[autofocus] {
    outline: none;
}
.promo-popup__newsletter-form .subheading {
    margin-bottom: var(--promo-popup-gap);
}
.promo-popup__newsletter-form .subheading--minimal_heavy {
    font: var(--base-heading-xs-font);
}
.promo-popup__newsletter-form .subheading--brutalist {
    font: var(--base-body-l-font);
}
.promo-popup__newsletter-form .subheading--classic,
.promo-popup__newsletter-form .subheading--contrast {
    font: var(--accent-body-l-font);
}
.promo-popup__newsletter-form .subheading--minimal_uppercase {
    font: var(--base-body-s-font);
}
.promo-popup__newsletter-form .subheading--minimal_basic,
.promo-popup__newsletter-form .subheading--avant_garde {
    font: var(--base-body-m-font);
}
.promo-popup__newsletter-form .subheading--duet {
    font: var(--accent-body-m-font);
}
.promo-popup__newsletter-subscribe {
    width: 100%;
    margin-top: var(--promo-popup-gap);
}
.promo-popup__newsletter-form {
    display: block;
}

/* Image block */
.block-media .placeholder-svg, .block-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block-media {
    display: flex;
    border-radius: var(--block-image-radius);
    -webkit-border-radius: var(--block-image-radius);
    overflow: hidden;
    max-width: 100%;
}
.ratio-original.block-media .placeholder-svg, 
.ratio-original.block-media img {
    height: auto;
}
.promo-popup .popup-wrapper .block-media--mobile {
    display: none;
}
.promo-popup .popup-wrapper .block-media--desktop {
    display: flex;
}
.ratio-original.block-media .placeholder-svg {
    aspect-ratio: 16 / 9;
}
a.block-media img, a.block-media .placeholder-svg {
    will-change: opacity;
    opacity: 1;
    transition: opacity var(--animation-duration) var(--transition-timing-function);
}

@media (hover: hover) {
    a.block-media:hover img, a.block-media:hover .placeholder-svg {
        opacity: .7;
    }
}

@media screen and (max-width: 768px) {
    .popup-image:not(.visible-mobile) {
        display: none;
    }

    .promo-popup .popup-wrapper .popup-content {
        padding: 42px 24px 48px;
    }

    .promo-popup .popup-wrapper .block-media--mobile,
    .promo-popup .popup-wrapper .block-media--desktop.block-media--all {
        display: flex;
    }
    .promo-popup .popup-wrapper .block-media--desktop {
        display: none;
    }
    .mobile-ratio-original {
        aspect-ratio: auto;
    }
    .mobile-ratio-square {
        aspect-ratio: 1 / 1;
    }
    .mobile-ratio-portrait {
        aspect-ratio: 4 / 5;
    }
    .mobile-ratio-narrow_portrait {
        aspect-ratio: 2 / 3;
    }
    .mobile-ratio-traditional {
        aspect-ratio: 4 / 3;
    }
    .mobile-ratio-landscape {
        aspect-ratio: 3 / 2;
    }
    .mobile-ratio-wide {
        aspect-ratio: 16 / 9;
    }
    .mobile-ratio-super_wide {
        aspect-ratio: 4 / 1;
    }
}

@media screen and (max-width: 500px) {
    .promo-popup .popup-wrapper {
        top: auto !important;
    }
    .promo-popup .popup-wrapper.open {
        max-width: 100vw;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        transform: none;
    }
}