.section-featured-collection .slider-section--lines .slider {
    border-top: none!important;
}
.section-featured-collection .slider__grid {
    overflow-x: hidden;
    scroll-snap-type: none;
}
.section-featured-collection__media .section-featured-collection__image, .section-featured-collection__media video,
.section-featured-collection__media .placeholder-svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-position: var(--media-focal-point);
    object-fit: cover;
}
.section-featured-collection__media {
    display: flex;
    border-radius: var(--image-radius);
    -webkit-border-radius: var(--image-radius);
    overflow: hidden;
}

.section-featured-collection--spacious {
    --tabs-gap: 64px;
}
.section-featured-collection--compact {
    --tabs-gap: 24px;
}
.section-featured-collection__products,
.section-featured-collection__button {
    margin-top: var(--tabs-gap);
}
.section-featured-collection__button {
    display: flex;
    flex-direction: column;
    align-items: var(--tabs-alignment);
}
.section-featured-collection .slider__viewport {
    padding-top: 0!important;
}
.featured-collection-with-media .section-featured-collection__image {
    max-width: 100%;
    height: 100%;
}
.featured-collection-with-media.lines .slider {
    border-top: var(--line-width) solid rgba(var(--layout-text-color),var(--line-opacity))!important;
    padding-top: var(--tabs-gap);
}

/* Styles for full-width page without sidebars */
/* Tablet */
@media screen and (max-width: 1024px) {
    .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .section-featured-collection__button {
        align-items: center;
    }
}

/* Sidebars: Main XS,S and white space Spacious */
/* Tablet */
@media screen and (max-width: 1304px) and (min-width: 921px) {
    .main_xs--spacious .section-featured-collection--spacious,
    .main_s--spacious .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .main_xs--spacious .section-featured-collection__button.section-featured-collection__button--center,
    .main_s--spacious .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious .section-featured-collection .slider__grid,
    .main_s--spacious .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_xs--spacious .section-featured-collection--spacious,
    .main_s--spacious .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .main_xs--spacious .section-featured-collection__button,
    .main_s--spacious .section-featured-collection__button {
        align-items: center;
    }
}
/* Sidebars: Main XS and white space Compact */
/* Tablet */
@media screen and (max-width: 1224px) and (min-width: 921px) {
    .main_xs--compact .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_xs--compact .section-featured-collection__button {
        align-items: center;
    }
}
/* Sidebars: Main XS,S with secondary and white space Spacious */
/* Tablet */
@media screen and (max-width: 1400px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .section-featured-collection--spacious,
    .main_s_with_secondary--spacious .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .main_xs_with_secondary--spacious .section-featured-collection__button.section-featured-collection__button--center,
    .main_s_with_secondary--spacious .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .section-featured-collection .slider__grid,
    .main_s_with_secondary--spacious .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_xs_with_secondary--spacious .section-featured-collection--spacious,
    .main_s_with_secondary--spacious .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .main_xs_with_secondary--spacious .section-featured-collection__button,
    .main_s_with_secondary--spacious .section-featured-collection__button {
        align-items: center;
    }
}
/* Sidebars: Main XS with secondary and white space Compact */
/* Tablet */
@media screen and (max-width: 1320px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_xs_with_secondary--compact .section-featured-collection__button {
        align-items: center;
    }
}

/* Sidebars: Main S and white space Compact */
/* Tablet */
@media screen and (max-width: 1260px) and (min-width: 921px) {
    .main_s--compact .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_s--compact .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_s--compact .section-featured-collection__button {
        align-items: center;
    }
}
/* Sidebars: Main S with secondary and white space Compact */
/* Tablet */
@media screen and (max-width: 1378px) and (min-width: 921px) {
    .main_s_with_secondary--compact .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_s_with_secondary--compact .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_s_with_secondary--compact .section-featured-collection__button {
        align-items: center;
    }
}

/* Sidebars: Main M */
/* Tablet */
@media screen and (max-width: 1365px) and (min-width: 921px) {
    .main_m--spacious .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .main_m .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile white space Spacious */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_m--spacious .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_m--spacious .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .main_m--spacious .section-featured-collection__button {
        align-items: center;
    }
}
/* Mobile white space Compact */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_m--compact .section-featured-collection__button {
        align-items: center;
    }
}
/* Sidebars: Main M with secondary */
/* Tablet */
@media screen and (max-width: 1493px) and (min-width: 921px) {
    .main_m_with_secondary--spacious .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .main_m_with_secondary .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_m_with_secondary--spacious .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .main_m_with_secondary .section-featured-collection__button {
        align-items: center;
    }
}

/* Sidebars: Main L */
/* Tablet */
@media screen and (max-width: 2048px) and (min-width: 921px) {
    .main_l--spacious .section-featured-collection--spacious {
        --tabs-gap: 48px;
    }
    .main_l .section-featured-collection__button.section-featured-collection__button--center {
        align-items: center;
    }
}
/* Mobile */
@media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l .section-featured-collection .slider__grid {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .main_l--spacious .section-featured-collection--spacious {
        --tabs-gap: 32px;
    }
    .main_l .section-featured-collection__button {
        align-items: center;
    }
}