.text__block {
    display: flex;
    justify-content: var(--text-vertical-alignment);
    align-items: var(--text-horizontal-alignment);
    flex-direction: column;
}
.text__block--2.text__block--medium,
.text__block--2.text__block--wide,
.text__block--3.text__block--medium {
    grid-column: span 2;
}
.text__block--3.text__block--wide {
    grid-column: span 3;
}

.text__block--1.text__block--short .text__container {
    width: 100%;
    max-width: 360px;
}
.text__block--1.text__block--medium .text__container {
    width: 100%;
}
.text__block--center p:last-child,
.text__container--center p {
    text-align: center;
}
.text__block--flex-end p:last-child {
    text-align: right;
}

.text__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: var(--text-horizontal-alignment);
    justify-content: var(--text-vertical-alignment);
    color: rgb(var(--layout-text-color));
}
.text__container.color-accent .text__content {
    color: rgb(var(--accent-button-color));
}
.text__container--center .text__heading {
    justify-content: center;
}
.text__container--center .richtext ul,
.text__container--center .richtext ol {
    margin-left: auto;
    margin-right: auto;
}

.text__content {
    display: flex;
    flex-direction: column;
}
.text__container:not(.color-accent) a {
    will-change: opacity;
    transition: opacity var(--animation-duration) var(--transition-timing-function);
}

.no-default-color .text__container.color-accent .richtext a {
    color: rgb(var(--accent-button-color));
    background-image: linear-gradient(to top,rgb(var(--accent-button-color)) 0px,rgb(var(--accent-button-color)) 0px),linear-gradient(to top,transparent 0px,transparent 0px);
}

@media (hover: hover) {
    .text__container:not(.color-accent) a:hover {
        opacity: .7;
    }
    .no-default-color .text__container.color-accent .richtext-link--underline a:hover {
        opacity: .7;
        animation: startAnimateUnderlinedLinksTextBlock var(--animation-duration) var(--transition-timing-function), endAnimateUnderlinedLinksTextBlock var(--animation-duration) var(--transition-timing-function)  var(--animation-duration);
    }
}

@keyframes startAnimateUnderlinedLinksTextBlock {
    0% {
        background-position: right bottom, right bottom;
        background-size: 100% 1px, 100% 1px;
        background-image: linear-gradient(to top,rgba(var(--accent-button-color), 0.7) 0px,rgba(var(--accent-button-color), 0.7) 0px),linear-gradient(to top,transparent 0px,transparent 0px);
    }
    100% {
        background-position: right bottom, left bottom;
        background-size: 0% 1px, 100% 1px;
        background-image: linear-gradient(to top,rgba(var(--accent-button-color), 0.7) 0px,rgba(var(--accent-button-color), 0.7) 0px),linear-gradient(to top,transparent 0px,transparent 0px);
    }
}
@keyframes endAnimateUnderlinedLinksTextBlock {
    from {
        background-position: left bottom, left bottom;
        background-size: 0% 1px, 100% 1px;
        background-image: linear-gradient(to top,rgba(var(--accent-button-color), 0.7) 0px,rgba(var(--accent-button-color), 0.7) 0px),linear-gradient(to top,transparent 0px,transparent 0px);
    }
    to {
        background-position: left bottom, right bottom;
        background-size: 100% 1px, 100% 1px;
        background-image: linear-gradient(to top,rgba(var(--accent-button-color), 0.7) 0px,rgba(var(--accent-button-color), 0.7) 0px),linear-gradient(to top,transparent 0px,transparent 0px);
    }
}

.text__heading {
    min-height: 32px;
    display: flex;
    align-items: center;
}

/* Fonts */
.text__heading--minimal_uppercase {
    font: var(--base-body-s-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.text__heading--minimal_basic,
.text__heading--classic,
.text__heading--avant_garde,
.text__heading--contrast {
    font: var(--base-label-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.text__heading--minimal_heavy,
.text__content--minimal_basic {
    font: var(--base-heading-xs-font);
}
.text__heading--brutalist {
    font: var(--base-body-l-font);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.text__heading--duet {
    font: var(--accent-body-l-font);
}
.text__content--minimal_uppercase {
    font: var(--base-heading-xs-font);
    text-transform: uppercase;
}
.text__content--minimal_heavy {
    font: var(--base-heading-m-font);
    letter-spacing: -0.01em;
}
.text__content--classic {
    font: var(--accent-heading-s-font);
}
.text__content--avant_garde {
    font: var(--base-heading-s-font);
    text-transform: uppercase;
}
.text__content--contrast {
    font: var(--accent-heading-l-font);
    letter-spacing: -0.02em;
}
.text__content--brutalist {
    font: var(--base-heading-l-font);
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.text__content--duet {
    font: var(--base-heading-s-font);
}
/* Styles for full-width page without sidebars */
/* Tablet */
@media screen and (max-width: 1024px) {
    .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    .text__block--1.text__block--short .text__container,
    .text__block--1.text__block--medium .text__container {
        width: 100%;
    }
    .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .text__content--brutalist,
    .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main XS,S and white space Spacious */
/* Tablet */
@media screen and (max-width: 1304px) and (min-width: 921px) {
    .main_xs--spacious .text__content--contrast,
    .main_s--spacious .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--spacious .text__content--brutalist,
    .main_s--spacious .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_xs--spacious .text__content--contrast,
    .main_s--spacious .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs--spacious .text__content--brutalist,
    .main_xs--spacious .text__content--minimal_heavy,
    .main_s--spacious .text__content--brutalist,
    .main_s--spacious .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main XS and white space Compact */
/* Tablet */
@media screen and (max-width: 1224px) and (min-width: 921px) {
    .main_xs--compact .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs--compact .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_xs--compact .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs--compact .text__content--brutalist,
    .main_xs--compact .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main XS,S with secondary and white space Spacious */
/* Tablet */
@media screen and (max-width: 1400px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .text__content--contrast,
    .main_s_with_secondary--spacious .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--spacious .text__content--brutalist,
    .main_s_with_secondary--spacious .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1144px) and (min-width: 921px) {
    .main_xs_with_secondary--spacious .text__content--contrast,
    .main_s_with_secondary--spacious .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--spacious .text__content--brutalist,
    .main_xs_with_secondary--spacious .text__content--minimal_heavy,
    .main_s_with_secondary--spacious .text__content--brutalist,
    .main_s_with_secondary--spacious .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main XS with secondary and white space Compact */
/* Tablet */
@media screen and (max-width: 1320px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_xs_with_secondary--compact .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_xs_with_secondary--compact .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_xs_with_secondary--compact .text__content--brutalist,
    .main_xs_with_secondary--compact .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main S and white space Compact */
/* Tablet */
@media screen and (max-width: 1260px) and (min-width: 921px) {
    .main_s--compact .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s--compact .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 968px) and (min-width: 921px) {
    .main_s--compact .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_s--compact .text__content--brutalist,
    .main_s--compact .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main S with secondary and white space Compact */
/* Tablet */
@media screen and (max-width: 1378px) and (min-width: 921px) {
    .main_s_with_secondary--compact .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_s_with_secondary--compact .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1064px) and (min-width: 921px) {
    .main_s_with_secondary--compact .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_s_with_secondary--compact .text__content--brutalist,
    .main_s_with_secondary--compact .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main M and white space Spacious and Compact */
/* Tablet */
@media screen and (max-width: 1365px) and (min-width: 921px) {
    .main_m .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1048px) and (min-width: 921px) {
    .main_m--spacious .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_m--spacious .text__content--brutalist,
    .main_m--spacious .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}
/* Mobile */
@media screen and (max-width: 1024px) and (min-width: 921px) {
    .main_m--compact .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_m--compact .text__content--brutalist,
    .main_m--compact .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main M with secondary and white space Spacious and Compact */
/* Tablet */
@media screen and (max-width: 1493px) and (min-width: 921px) {
    .main_m_with_secondary .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_m_with_secondary .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1152px) and (min-width: 921px) {
    .main_m_with_secondary .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_m_with_secondary .text__content--brutalist,
    .main_m_with_secondary .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}

/* Sidebars: Main L and white space Spacious and Compact */
/* Tablet */
@media screen and (max-width: 2143px) and (min-width: 921px) {
    .main_l .text__content--contrast {
        font: var(--accent-heading-m-font);
        letter-spacing: -0.01em;
    }
    .main_l .text__content--brutalist {
        font: var(--base-heading-m-font);
        letter-spacing: -0.01em;
    }
}
/* Mobile */
@media screen and (max-width: 1536px) and (min-width: 921px) {
    .main_l .text__content--contrast {
        font: var(--accent-heading-s-font);
        letter-spacing: normal;
    }
    .main_l .text__content--brutalist,
    .main_l .text__content--minimal_heavy {
        font: var(--base-heading-s-font);
        letter-spacing: normal;
    }
}